
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-building-columns"></i>
        </div>
        <div class="sidebar-brand-text mx-3">MoneyVault</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Logs
    </div>

    <li class="nav-item">
        <a class="nav-link" href="../view_clients.html">
            <i class="fas fa-fw fa-book"></i>
            <span>Clients</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTransactions"
            aria-expanded="true" aria-controls="collapseTransactions">
            <i class="fas fa-fw fa-table"></i>
            <span>Transactions</span>
        </a>
        <div id="collapseTransactions" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="../history_account.html">Account Transactions</a>
                <a class="collapse-item" href="../history_card.html">Card Transactions</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseApplications" aria-expanded="true"
            aria-controls="collapseApplications">
            <i class="fas fa-fw fa-table"></i>
            <span>Applications</span>
        </a>
        <div id="collapseApplications" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="../banker_loans_applications.html">Loan Applications</a>
                <a class="collapse-item" href="../banker_card_applications.html">Card Applications</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="../Support Requests.html">
            <i class="fas fa-fw fa-headset"></i>
            <span>Support Requests</span>
        </a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">
    
    <!-- Heading -->
    <div class="sidebar-heading">
        Other
    </div>

   
    <!-- Nav Item - History -->
    <li class="nav-item">
        <a class="nav-link" href="../announcement.html">
            <i class="fas fa-fw fa-scroll"></i>
            <span>Post Announcement</span>
        </a>
    </li>

7
    


</ul>
<!-- End of Sidebar -->
