<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Navbar - Brand -->
    <a class="navbar-brand d-flex align-items-center justify-content-center">
        <div class="navbar-brand-text mt-2 ml-2 text-primary font-weight-bold h2">
            <label id="page">Dashboard</label>
        </div>
    </a>
    
    <!-- Divider -->
    <hr class="navbar-divider my-0">


    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

    
       

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">John Doe</span>
                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>
<!-- End of Topbar -->

<script>
    document.getElementById('page').innerText = document.querySelector('title').text;
    // remove activity log if not user
</script>